<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit your job here</title>
    <style>
        .box1{
            margin-left: 800px;
        }
    </style>
</head>
<body>
    <div class="box1">
    <h2><a href="/dash">Back</a> <a href="/logout">Logout</a></h2>
    </div>
    <h1>Edit Your Job Posting</h1>
    <form action="/editlogic/{{my_job.id}}/" method="POST">
        {% csrf_token %}
    Title : <input type="text" name= "title" value="{{my_job.title}}">
    Description: <input type="text" name = "desc" value="{{my_job.desc}}">
    Location: <input type="text" name="location" value="{{my_job.location}}">
    <input type="submit" value="Submit">
    </form>

    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>