<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Viewing the job page</title>
    <style>
        .box1{
            font-size: 30px;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="box1">
        <a href="/dash">Back</a>
        <a href="/logout">Logout</a>
    </div>

    <h1>{{my_job.title}}</h1>
    <table class="table-striped">           
        <tr class="th1">
            <th>Description</th>
            <th>Location</th>
            <th>Posted by</th>
            <th>Action</th>
        </tr>
            <td>{{my_job.desc}}</td>
            <td>{{my_job.location}}</td>
            <td>{{my_job.jobs.firstname}}</td>
            <td><a href="/addingjob/{{my_job.id}}">Add To My Jobs</a></td>
        </tr>
    </table>
</body>
</html>